body {
    background-color: rgb(8, 49, 8);
    margin: 0;
    overflow: hidden; /* Hide scroll bars during loading */
}

/* Import the custom font */
@font-face {
    font-family: 'Luckiest Guy';
    src: url('fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf') format('truetype');
}


#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #02494d; /* Change to your desired background */
    z-index: 9999; /* Ensure the loading screen is on top */
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease-in-out; /* Fade-in/out transition */
}

#loading-video {
    width: 20%;
    height: auto;
}

#countdown {
    font-size: 3em;
    margin-top: 20px;
    color: white;
}

/* h1 {
    color: white;
    text-align: center;
} */

header {
    text-align: center;
    margin-top: 50px;
}

#rainbow-title {
    font-family: 'Luckiest Guy', cursive;
    font-size: 48px;
    display: inline-block;
}



/* Button styles */
#playPauseButton1,
#playPauseButton2,
#playPauseButton3 {
    padding: 3em 6em;
    border-radius: 0.5em;
    width: 50%;
    height: 50%;
    border: none;
    display: flex;
    align-items: center;
    margin: 0;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    transition: box-shadow 0.3s ease;
}

#playPauseButton1:hover,
#playPauseButton2:hover,
#playPauseButton3:hover {
    box-shadow: 0 8px 20px rgba(144, 238, 144, 0.8);
}

#playPauseButton1:active,
#playPauseButton2:active,
#playPauseButton3:active {
    transform: translateY(2px);
}

/* Initially hide the border for .custombutton */
/* Initially hide the border for .custombutton */
.custombutton-active {
    position: relative;
    border: none; /* Initially no border */
    outline: none; /* Remove default outline */
}

.custombutton-active.active {
    border: 2px solid lightgreen; /* Border style for the active button */
}


.custombutton-active video {
    box-shadow: inset 0 0 10px 5px #006400; /* Dark green inset shadow */
}


li>button>video {
    width: 5em;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}


ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2em;
    justify-content: space-around;
    padding: 0;
}

section:nth-of-type(2) img {
    display: block;
    width: 15em;
    margin-left: 2em;
    margin-top: 8em;
}

video {
    display: block;
    width: 90vw;
    margin: 0 auto;
    padding: 0;
    background-color: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(144, 238, 144, 0.2);
    padding: 0.5em 0;
    margin-top: -20em;
    color: white;
    flex-shrink: 0;
}